<h1 class="text-6xl"><b>Handbook</b></h1>
<br/>
<a class="block p-6 bg-white border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">General Rules</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">We want to start by making sure that every one of our staff members are aware of the general rules that MUST be followed on a day-to-basis. We expect everyone to follow the general rules without hesitation. 
        <br/><br/>
        <b>Appropriate Language</b> - All staff must be sure to use appropriate language at all times. Minor profanity can be allowed, however, any severe swearing or offensive terms (sexist, racist, discriminatory, etc.), or profanity directed at another staff member, will result in immediate action being taken by management. This also applies to threatening another staff member, or a user.
        <br/>
        <b>Equality</b> – All staff members and users must be treated the same way. No one gets special treatment and exceptions from rules and guidelines at TideRadio.UK, regardless of who they are or are not friends with. For example, these rules apply to ALL staff, regardless of rank or position.
        <br/>
        <b>Privacy</b> – All staff members are never to ask users for personal details from users, or share details collected by the website. Any staff found to be sharing personal details of users will be fired on the spot without warning. This also goes for talking about TideRadio.UK in a public area. No staff should gossip about TideRadio.UK unless it’s in the staff chat.
        <br/>
        <b>Activity & Involvement</b> - All staff are expected to actively take part in community events, and the website (this includes frequently taking part in staff discussions such as the Discord staff conversation if part of it).
        <br/>
        <b>Stay up-to-date</b> - Staff should check the website and Discord conversation if not you shall be warned for inactivity and then further actions will be taken.
        <br/>
        <b>Leaking</b> - All staff conversations on Discord are private and are not to be shared with others.
        <br/>
        <b>Fighting</b> - At no time should staff members be arguing or fighting with one another, regardless of rank. If you do not like someone, do the mature thing and completely ignore them.
        <br/>
        <b>Respect</b> - All staff members must treat each other with respect at all times. Staff found to be gossiping and so forth about each other will receive appropriate punishments.
        <br/>
        <b>Rules</b> – All staff must follow the Terms and Regulations to the full extent under any circumstances if rules are broken severe action will be taken.
        <br/>
        <b>Discord Conversations</b> – Discord conversations are an official method of communication in the TideRadio.UK team, and it is expected that all users are active in these conversations. There should be no swearing or inappropriate behavior in the Discord chat – this may result in severe warnings. If you leave the conversations, it will be taken as a resignation and you will be removed from the team. If you are having technical difficulties and need to leave the conversation and be added back, speak to your manager before leaving the conversation. Leaving the staff conversations is not reversible – you will be removed from the team, it will not be a simple warning to not do it again.
        <br/>
        <b>No Double Jobbing</b> - Double jobbing IS NOT allowed while working at TideRadio.UK If you are caught working at another agency without permission or you will lose your position in TideRadio.UK.
        <br/>
        <b>DJ Hours</b> - Radio DJ's should go live for THREE HOURS a week and each time they go live should be either ONE HOUR or longer.</p>
</a>
<br/>
<a class="block p-6 bg-white border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Warning System</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">We have a warning system in place for users that fail to abide by rules and for people that fail to complete minimums on a day-to-day basis. We ensure that members complete their tasks as it improves the morale and the activity within TideRadio.UK. We hope users take the warning system not as an insult, but as a place to improve upon. All users start with 0 warnings, however, this could change based on the rules broken or minimums failed to complete. If you receive a warning, it will be placed down In a document.#
    <br/><br/>
    Below are the actions that take place upon being given a warning:
    <br/>
    <b>1 warning</b> = Message sent by manager outlining your issues with your work or behavior, with recommendations on how to improve and fix these issues.
    <br/>
    <b>2 warnings</b> = May result in a demotion or you’ll be stripped from your role, the Management team will look into what you have done and will tell you how you have to improve or be dismissed forever.
    <br/>
    <b>3 warnings</b> = Dismissal as you have failed to either improve or change your ways, you were already given chances to reform.
    <br/>
    Some rules have higher consequences and involve the use of the warning system. If suspended, you will temporarily see your staff title and permissions while the situation will be investigated by Management. It is left to the senior staff to decide how severely you are punished.
    </p>
</a>