<%- include("../partials/header.ejs") %>
<body>
  <%- include("../partials/sidebar.ejs") %>
  <div class="pageContent sm:ml-64 p-4 bg-[#18222e] h-full text-white transition-opacity"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
<script src="/js/router.js"></script>
