<head>
    <meta charset="UTF-8">
    <title>Tide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="/js/jquery-3.6.3.min.js"></script>
</head>
